In [1]:
import pandas as pd
df= pd.read_csv('london.csv')
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [3]:
df.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [7]:
df.describe

<bound method NDFrame.describe of                  timestamp   cnt   t1   t2    hum  wind_speed  weather_code  \
0      2015-01-04 00:00:00   182  3.0  2.0   93.0         6.0           3.0
1      2015-01-04 01:00:00   138  3.0  2.5   93.0         5.0           1.0
2      2015-01-04 02:00:00   134  2.5  2.5   96.5         0.0           1.0
3      2015-01-04 03:00:00    72  2.0  2.0  100.0         0.0           1.0
4      2015-01-04 04:00:00    47  2.0  0.0   93.0         6.5           1.0
...                    ...   ...  ...  ...    ...         ...           ...
17409  2017-01-03 19:00:00  1042  5.0  1.0   81.0        19.0           3.0
17410  2017-01-03 20:00:00   541  5.0  1.0   81.0        21.0           4.0
17411  2017-01-03 21:00:00   337  5.5  1.5   78.5        24.0           4.0
17412  2017-01-03 22:00:00   224  5.5  1.5   76.0        23.0           4.0
17413  2017-01-03 23:00:00   139  5.0  1.0   76.0        22.0           2.0

       is_holiday  is_weekend  season
0             0.0         1.0     3.0
1             0.0         1.0     3.0
2             0.0         1.0     3.0
3             0.0         1.0     3.0
4             0.0         1.0     3.0
...           ...         ...     ...
17409         0.0         0.0     3.0
17410         0.0         0.0     3.0
17411         0.0         0.0     3.0
17412         0.0         0.0     3.0
17413         0.0         0.0     3.0

[17414 rows x 10 columns]>

In [ ]:
df =df.rename(columns={'cnt':'count'},)